header {
  position: absolute;
  left: 0;
  right: 0;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100px;

  @media only screen and (max-width: $medium) {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    color: $color--black;
    margin-bottom: 10px;
  }

  &__items {
    ul {
      list-style-type: none;
      overflow: hidden;
    }

    li {
      float: left;

      a {
        font-size: 25px;
        font-weight: 800;
        color: $color--black;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 40px;

        @media only screen and (max-width: $extra-large) {
          padding: 0 20px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__dropdown{
    display: none;
    position: absolute;
    background-color: $color--light-gray;
    box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.4);
    z-index: 1;
    border-radius: 10px;
    padding: 10px 0;

    a {
      color: $color--black;
      padding: 5px 25px;
      text-decoration: none;
      display: block;
      text-align: center;
    }
  }
}



