$color--dark-green: #53686C;
$color--white: #ffffff;
$color--black: #000000;
$color--light-gray: #DFDEDE;
$color--gray: #C0C0C0;
$color--dark-white: #f9f9f9;
$color--dark-gray: #575756;
$color--green: #627478;


